<!DOCTYPE html>
<html>
    <head>
        <title>Responsive Excercise</title>
        <meta  charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {% block header %}
        <header>
            <p>Cody Pauley</p>
            <ul>
                <li><a href="/">Home</a></li>
                <li>|</li>
                <li><a href='/projects'>Projects</a></li>
                <li>|</li>
                <li>Blog</li>
            </ul>
        </header>
        {% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}
        <footer>
            <a href="form" style='font-size: 2.2em; color: Blue; padding: 10px;'>Contact me!</a>
        </footer>
        {% endblock %}
    </body>
</html>