<!DOCTYPE html>
<html>
    <head>
        <title>Responsive Excercise</title>
        <meta  charset="utf-8">
        <link rel="stylesheet" type="text/css" href="style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <p>Cody Pauley</p>
            <ul>
                <li>Home</li>
                <li>|</li>
                <li>Projects</li>
                <li>|</li>
                <li>Blog</li>
            </ul>
        </header>
        {% block content %}{% endblock %}
        <footer>
            <h1>Footer</h1>
        </footer>
    </body>
</html>