{% extends "base.html" %}
{% block content %}
<div class="banner">
           <h1>CodeE's gaming and development site</h1>
</div>
<div class="content-title">
    <h1>Awesomeness</h1>
</div>
<div class="content">
    <div class="col-3">
        <ul><b>Games</b>
            <li><a href>GW2</a></li>
            <li><a href>Total War</a></li>
            <li><a href>Shadowverse</a></li>
        </ul>
    </div>
    <div class="col-3">
        <ul><b>Memes</b>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>item 3</li>
        </ul>
    </div>
    <div class="col -3">
        <ul><b>Projects</b>
            <li>Hero RPG</li>
            <li>Terrible Drawings</li>
        </ul>
    </div>
</div>
<div class="content2">
    <div class="col-2"><img src="static/img/nani1.jpg"><p>Awesome Picture 1</p></div>
    <div class="col-2"><img src="static/img/nani2.jpg"><p>Awesome Picture 2</p></div>
</div>
{% endblock %}